@import "functions";
@import "variables";

.availability {

  .seating-plan {
    margin: auto;
    max-width: 460px;

    &__row {
      height: 32px;
    }

    .seat {
      color: theme-color("primary");
      padding: 0;
      position: relative;

      &--booked {
        color: theme-color("secondary");
      }

      .tooltip {
        background-color: theme-color("dark");
        border-radius: $border-radius;
        color: #fff;
        opacity: 0;
        pointer-events: none;
        position: absolute;
          bottom: 125%;
          left: 50%;
        transform: translateX(-50%);
        visibility: hidden;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: theme-color("dark") transparent transparent transparent;
        }
      }

      &:hover .tooltip {
        opacity: 1;
        visibility: visible;
      }
    }

  }

}
