@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.header {
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center;
  transition: margin 0.5s ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInDown;

  h1 {
    transition: font-size 0.5s ease-in-out, opacity 0.25s;
  }

  h2 {
    transition: font-size 0.5s ease-in-out, opacity 0.25s;
  }

  svg {
    width: 100px;
    height: 100px;
    transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
  }

  // &__info {
  //   transform: scaleY(1);
  //   transition: transform 0.5s ease-in-out;
  // }

  &--compact {
    margin: 0.75rem;

    h1 {
      font-size: 0;
      opacity: 0;
      margin: 0;
    }

    h2 {
      font-size: 0;
      opacity: 0;
      margin: 0;
    }

    svg {
      width: 25px;
      height: 25px;
    }

    .header__info {
      display: none;
    }
  }
}
