@import "functions";
@import "variables";

.form__seats {

  .seating-plan {
    margin: auto;
    max-width: 460px;

    button {
      appearance: none;
      background: none;
      border: 0;
      color: theme-color("primary");
      font: inherit;
      height: 32px;
      line-height: normal;
      overflow: visible;
      padding: 0;
      user-select: none;
    }

    .seat {
      &--booked {
        color: grey;
      }
    }

  }

}
